@import url()
/*
        селектор {
        property-name: property-value;
        property-name:property-value;
        ...
        }
        */
        
        p {
            background-color: aquamarine;
            font-family: `Tangerine`, `serif`
        }

        h1 {
            background-color: brown;
            font-family: Verdana, Geneva, Verdana, Geneva, Tahoma, sans-serif;
            font-size: xx-large;
            text-align:center;
        }

        h2,
        h3,
        h4 {
            background-color: blanchedalmond;
            font-family: 'Courier New', Courier, monospace;
            font-size: small;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: chocolate;
        }

        #header-styled {
            background-color: darkcyan;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .bg-green {
            background-color: green;
        }

        .color-blue {
            color: blue;
        }

        .font-style {
            /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 1.2em;
            font-weight: 1000;
            font-style: italic;
            font-variant: small-caps;
            line-height: 14px; */
            font: italic small-caps bold 1.3em/17px 'Trebuchet MS'; 
            word-spacing: 1rem;
            letter-spacing: 0.5rem;
            text-transform:capitalize;
            /* text-indent: 2em; */
            text-decoration: underline solid black 1px;
            white-space: pre;
            /* color:coral; */
            text-align: justify;
            color: #00ff00;

        }